<app-header></app-header>
<div class="site-wrap">
    <div class="site-blocks-cover" style="background-image: url('assets/images/OIP.jpg');">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 mx-auto order-lg-2 align-self-center">
                    <div class="site-block-cover-content text-center">
                        <h1>About Us</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="site-section bg-light custom-border-bottom" data-aos="fade">
        <div class="container">
            <div class="row mb-5">
                <div class="col-md-6">
                    <div class="block-16">
                        <h2 class="text-black">Historique</h2>
                        <p>Par arrêté du 27 juin 1938, fût créé un dépôt à l'Hôpital Civil Français (l’actuel Hôpital
                            Charles
                            Nicolle), sous la dénomination: "Pharmacie Centrale des Hôpitaux du Royaume de Tunisie".
                            Le décret beylical du 31 mars 1956 l’a réorganisée en la dotant d’une personnalité juridique
                            indépendante, d’une autonomie financière et d’une nouvelle appellation soit "Pharmacie
                            Centrale des
                            Hôpitaux de Tunisie ".
                            Puis la " Pharmacie Centrale des Hôpitaux de Tunisie " s'est installée dans ses nouveaux
                            locaux qui
                            existent encore à El Menzah, avenue Charles Nicolle (l’actuelle Avenue 10 Décembre 1948).
                            Le 10 mars 1958, cet organisme prit le nom de « Pharmacie Centrale de Tunisie » (PCT). Feu
                            Abdelaziz
                            MEMMI en fut le premier directeur Tunisien.
                            Le décret-loi du 16 janvier 1961 lui donna le statut d'établissement public à caractère
                            industriel et
                            commercial en lui attribuant le monopole d’importation de produits pharmaceutiques dont la
                            liste est
                            fixée par arrêté conjoint du ministre chargé de la santé publique et du ministre chargé du
                            commerce.
                            Monsieur, Mohamed FEKIH fût alors nommé à la tête de cet organisme et le dirigea pendant une
                            vingtaine
                            d'années.
                            Outre son activité commerciale d’importation et de distribution de produits pharmaceutiques,
                            la PCT
                            était la première entité à produire des médicaments.
                            En effet, les laboratoires de fabrication d'El Menzah se sont développés à partir de 1965
                            grâce au
                            recrutement de jeunes pharmaciens. Diverses formes pharmaceutiques ont été mises au point
                            avec la
                            collaboration de pharmaciens industriels tchèques recrutés dans le cadre de la coopération
                            bilatérale.En
                            1970, ces laboratoires ont été transférés vers le site de « Foundouk Choucha ».
                            Depuis la création en 1989 de la Société des Industries Pharmaceutiques de Tunisie (SIPHAT),
                            l’activité
                            de production a été transférée à cette dernière.
                            En 1990, l’activité de l’entreprise a été recentrée sur l’importation et la distribution de
                            produits
                            pharmaceutiques avec un capital de 17,8 MD détenu entièrement par l’Etat Tunisien.
                            A partir du 1er Janvier 2006, la PCT a été également chargée du monopole d’importation des
                            vaccins,
                            sérums, allergènes et dérivés sanguins auparavant assuré par l’Institut Pasteur de Tunis.
                        </p>
                    </div>
                </div>
                <div class="col-md-6">
                    <img src="assets/images/historique.jpg" alt="">
                </div>
            </div>
        </div>
    </div>



    <div class="site-section bg-light custom-border-bottom" data-aos="fade">
        <div class="container">
            <div class="row mb-5">
                <div class="col-md-6 order-md-2">
                    <div class="block-16">
                        <img src="assets/images/qui sommes nous.jpg" alt="" class="" width="500px">
                    </div>
                </div>
                <div class="col-md-5 mr-auto">


                    <div class="site-section-heading pt-3 mb-4">
                        <h2 class="text-black">Qui sommes nous?</h2>
                    </div>
                    <p class="text-black">
                        La Pharmacie Centrale de Tunisie a pour mission d’assurer la régularité dans l’approvisionnement
                        du pays
                        pour les produits dont elle détient le monopole d’importation ainsi que la distribution des
                        produits et
                        fournitures nécessaires à la médecine humaine et vétérinaire aux différentes structures
                        sanitaires
                        publiques, parapubliques et privées</p>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>