<div class="site-section">
    <div class="container">
        <div class="row mb-5">
            <form class="col-md-12" method="post">
                <div class="site-blocks-table">
                    <table id="tableid" class="table table-bordered">
                        <thead>
                            <tr>
                                <th class="product-name">Name</th>
                                <th class="product-quantity">email</th>
                                <th class="product-total">subject</th>
                                <th class="product-total">message</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let client of contactslist">
                                <td>{{client.name}}</td>
                                <td>{{client.email}}</td>
                                <td>{{client.subject}}</td>
                                <textarea class="message">class="message">{{client.message}}</textarea>
                                <td>
                                    <button class="btn btn-success mx-3" (click)="delete(client._id)">delete</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </form>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="row mb-12">
                    <div class="col-md-6 mb-3 mb-md-0">
                        <button [routerLink]="['/clientslist']" class="btn btn-success btn-md btn-block">clientslist</button>
                    </div>
                    <div class="col-md-6">
                        <button class="btn btn-success btn-md btn-block" (click)='logout()'>Logout</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
